body{
    margin: 0;
    background-color: #092635;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;


}
.container{
    height: 620px;
    width: 435px;
    background-color:#9EC8B9 ;
    border-radius: 15px;
    margin: auto;
}
.item{
    text-align: center;
}
.item button{
    background-color: #092635;
    border: none;
    width: 350px;
    height: 40px;
    margin: 15px 0;
    border-radius: 8px;

}
.item a{
    display: block;
    text-decoration: none;
    color: #9EC8B9;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}
.profile-photo{
    width:115px;
    height: 115px;
    border-radius: 100%;
    margin: 15px 0;
}

footer{
    text-align: center;
    opacity: 0.8;
    margin-bottom: 0;
    font-size: x-small;
    padding-bottom: 0px;
    color: #092635;
}
.name{
    color: #0e96db;
}

/* media queries for responsiveness */
@media (max-width: 600px) {
    .container {
        width: 80%;
    }

    .item button {
        width: 80%;
    }
}